<ion-view title="Add Check-in" id="page8" style="background-color:#DFE2E7;">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <label class="item item-select" name="vehicle">
                <span class="input-label">Vehicle</span>
                <select>
                    <option>N/A</option>
                </select>
            </label>
            <label class="item item-input" name="description">
                <span class="input-label">Description</span><textarea placeholder="Enter a description"> </textarea>
            </label>
        </form>
        <button id="addCheckIn-button13" class="button button-positive  button-block icon ion-android-add-circle">Add</button>
    </ion-content>
</ion-view>