<ion-view title="Add Check-in" class="page">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="list card">
            <div class="item item-body">
                <form class="list">
                    <label class="item item-select" name="vehicle">
                        <span class="input-label">Vehicle</span>
                        <select>
                            <option>N/A</option>
                        </select>
                    </label>
                    <label class="item item-input" name="description">
                        <span class="input-label">Description</span><textarea placeholder="Enter a description"> </textarea>
                    </label>
                </form>
            </div>
        </div>
        <button id="addCheckIn-button13" class="button button-positive  button-block icon ion-android-add-circle">Add</button>
    </ion-content>
</ion-view>
