<ion-view title="{{ (mode == 'ADD' ? 'Add' : 'Update') }} Check In" align-title="left" class="page">
  <ion-content overflow-scroll="true" padding="true">
    <div class="list card" ng-hide="loading">
      <div class="item item-divider">Location</div>
      <div class="item item-body">
        <div id="add-edit-check-in-map" class="map" data-tap-disabled="true"></div>
        <span ng-hide="location_detected || location_error || mode == 'EDIT'">
          <a class="item">
            <h3>Searching for your location</h3>
          </a>
        </span>
        <span ng-show="mode == 'ADD' && (location_error && !location_detected)">
          <a class="item">
            <h3>Cannot detect your location</h3>
          </a>
        </span>
      </div>

      <span ng-show="mode == 'EDIT'">
        <div class="item item-divider">Vehicle</div>
        <div class="item item-body">
          <a class="item">{{ selected_vehicle.license_plate_no }}</a>
        </div>
      </span>

      <div class="item item-divider">Edit</div>
      <div class="item item-body">
        <label class="item item-select" ng-show="mode == 'ADD'">
          <span class="input-label">Vehicle</span>
          <select ng-model="selected_vehicle.license_plate_no">
            <option ng-repeat="vehicle in vehicles" value="{{ vehicle.license_plate_no }}">{{ vehicle.name }}</option>
          </select>
        </label>

        <label class="item item-input item-floating-label">
          <span class="input-label">Description</span>
          <textarea placeholder="Enter a description" ng-model="check_in.description"> </textarea>
        </label>
      </div>
    </div>

    <button class="button button-full button-bar-positive ink" ng-hide="(mode == 'ADD' && (!location_detected || location_error)) || loading" ng-click="addUpdateCheckIn()"><i ng-class="['icon', {'ion-android-add-circle': mode == 'ADD', 'ion-checkmark': mode == 'EDIT'}]"></i> {{ (mode == 'ADD' ? 'Add' : 'Update') }}</button>
  </ion-content>
</ion-view>
