<ion-view title="{{ (mode == 'ADD' ? 'Add' : 'Update') }}" align-title="left" class="page">
  <ion-content overflow-scroll="true" padding="true">
    <div class="list padding card" ng-hide="loading">
      <div class="item item-body">
        <label class="item item-input item-floating-label">
          <span class="input-label">Name</span>
          <input type="text" placeholder="Enter a name" ng-model="vehicle.name">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">License Plate No</span>
          <input type="text" placeholder="Enter license plate no" ng-model="vehicle.license_plate_no">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Description</span>
          <textarea placeholder="Enter a description" ng-model="vehicle.description"> </textarea>
        </label>
      </div>
    </div>

    <div class="list padding card" ng-hide="loading">
      <div class="item item-divider">Fuel Details</div>
      <div class="item item-body">
        <ion-toggle toggle-class="toggle-positive" ng-model="vehicle.bi_fuel">Bi-fuel Vehicle</ion-toggle>
        <label class="item item-select">
          <span class="input-label">Fuel One</span>
          <select ng-model="vehicle.fuel_one">
            <option>Petrol</option>
            <option>Diesel</option>
          </select>
        </label>
        <label class="item item-select" ng-hide="!vehicle.bi_fuel">
          <span class="input-label">Fuel Two</span>
          <select ng-model="vehicle.fuel_two">
            <option>Petrol</option>
            <option>Diesel</option>
            <option>Electricity</option>
          </select>
        </label>
      </div>
    </div>

    <div class="list padding card" ng-hide="loading">
      <div class="item item-divider">Other</div>
      <div class="item item-body">
        <label class="item item-input item-floating-label">
          <span class="input-label">Make</span>
          <input type="text" placeholder="Enter the make" ng-model="vehicle.make">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Model</span>
          <input type="text" placeholder="Enter the model" ng-model="vehicle.model">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Year</span>
          <input type="number" placeholder="Enter the year" ng-model="vehicle.year">
        </label>
      </div>
    </div>

    <button class="button button-full button-bar-positive ink" ng-hide="loading" ng-click="addUpdateVehicle()"><i ng-class="['icon', {'ion-android-add-circle': mode == 'ADD', 'ion-checkmark': mode == 'EDIT'}]"></i> {{ (mode == 'ADD' ? 'Add' : 'Update') }}</button>
  </ion-content>
</ion-view>
