<ion-view title="Add Fuel Fill-up" id="page6" style="background-color:#DFE2E7;">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="list card">
            <div class="item item-body">
                <form class="list">
                    <label class="item item-select" name="vehicle">
                        <span class="input-label">Vehicle</span>
                        <select>
                            <option>N/A</option>
                        </select>
                    </label>
                    <label class="item item-input" name="mileage">
                        <span class="input-label">Odometer</span>
                        <input type="text" placeholder="Enter mileage reading">
                    </label>
                    <label class="item item-input" name="litres">
                        <span class="input-label">Litres</span>
                        <input type="text" placeholder="Enter number of litres">
                    </label>
                    <label class="item item-input" name="price">
                        <span class="input-label">Total Price</span>
                        <input type="text" placeholder="Enter the price paid">
                    </label>
                </form>
            </div>
        </div>
        <button id="addFuelFillUp-button9" class="button button-positive  button-block icon ion-android-add-circle">Add</button>
    </ion-content>
</ion-view>
