<ion-view title="Add Miscellaneous Cost" id="page7" style="background-color:#DFE2E7;">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="list card">
            <div class="item item-body">
                <form class="list">
                    <label class="item item-select" name="vehicle">
                        <span class="input-label">Vehicle</span>
                        <select>
                            <option>N/A</option>
                        </select>
                    </label>
                    <label class="item item-select" name="cost-type">
                        <span class="input-label">Cost Type</span>
                        <select>
                            <option>Service</option>
                            <option>Maintenance</option>
                            <option>Parking</option>
                            <option>Insurance</option>
                            <option>Other</option>
                        </select>
                    </label>
                    <label class="item item-input" name="value">
                        <span class="input-label">Value</span>
                        <input type="text" placeholder="Enter the price paid">
                    </label>
                </form>
            </div>
        </div>
        <button id="addMiscellaneousCost-button10" class="button button-positive  button-block icon ion-android-add-circle">Add</button>
    </ion-content>
</ion-view>
