<ion-view title="Check-ins" id="page10" style="background-color:#DFE2E7;">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <a ui-sref="menu.addCheckIn" id="checkIns-button7" class="button button-calm  button-block icon ion-android-add-circle">Add Check-in</a>
        <div class="list card">
            <div class="item item-body">
                <form class="list">
                    <label class="item item-select" name="vehicle">
                        <span class="input-label">Vehicle</span>
                        <select>
                            <option>N/A</option>
                        </select>
                    </label>
                </form>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Map</div>
            <div class="item item-body"></div>
        </div>
        <div class="list card">
            <div class="item item-divider">Check-ins List</div>
            <div class="item item-body">
                <ion-list>
                    <label class="item item-input" name="search">
                        <i class="icon ion-search placeholder-icon"></i>
                        <input type="search" placeholder="Enter a date">
                    </label>
                    <ion-item class="item-thumbnail-left" ui-sref="menu.checkIn">
                        <img src="img/9pfpxpe8RbGkqPVmes9p_Location -02.png">
                        <h2>Time</h2>
                        <p>Click to view on map</p>
                    </ion-item>
                </ion-list>
            </div>
        </div>
    </ion-content>
</ion-view>
