<ion-view title="Check In" align-title="left" cache-view="false" class="page">
  <ion-content overflow-scroll="true" padding="true">
    <div class="list card">
      <div class="item item-divider">Location</div>
      <div class="item item-body">
          <div id="check-in-map" class="map" data-tap-disabled="true"></div>
      </div>

      <div class="item item-divider">Time</div>
      <div class="item item-body">
        <a class="item">{{ check_in.timestamp | date:'dd-MM-yyyy' }}</a>
        <a class="item">{{ check_in.timestamp | date:'HH:mm:ss' }}</a>
      </div>

      <div class="item item-divider">Vehicle</div>
      <div class="item item-body">
        <a class="item">{{ check_in.vehicle_name }}</a>
        <a class="item">{{ check_in.vehicle_license_plate_no }}</a>
      </div>

      <div class="item item-divider">Created By</div>
      <div class="item item-body">
        <a class="item">{{ (check_in.creator == null ? 'Created by you' : check_in.creator) }}</a>
      </div>

      <div class="item item-divider">Description</div>
      <div class="item item-body">
        <a class="item">{{ check_in.description }}</a>
      </div>
    </div>
  </ion-content>
</ion-view>
