<ion-view title="Fuel Fill Up" align-title="left" class="page">
  <ion-content overflow-scroll="true" padding="true">
    <div class="list card">
      <div class="item item-divider">Station Location</div>
      <div class="item item-body">
        <div id="fuel-fill-up-map" class="map" data-tap-disabled="true"></div>
      </div>

      <div class="item item-divider">Odo Meter Reading</div>
      <div class="item item-body">
        <a class="item">{{ fuel_fill_up.odo_meter_reading }} kilometers</a>
      </div>

      <div class="item item-divider">Litres</div>
      <div class="item item-body">
        <a class="item">{{ fuel_fill_up.litres }} litres</a>
      </div>

      <div class="item item-divider">Price</div>
      <div class="item item-body">
        <a class="item">{{ fuel_fill_up.price }} rupees</a>
      </div>

      <div class="item item-divider">Time</div>
      <div class="item item-body">
        <a class="item">{{ fuel_fill_up.timestamp | date:'dd-MM-yyyy' }}</a>
        <a class="item">{{ fuel_fill_up.timestamp | date:'HH:mm:ss' }}</a>
      </div>

      <div class="item item-divider">Vehicle</div>
      <div class="item item-body">
        <a class="item">{{ fuel_fill_up.vehicle_name }}</a>
        <a class="item">{{ fuel_fill_up.vehicle_license_plate_no }}</a>
      </div>

      <div class="item item-divider">Created By</div>
      <div class="item item-body">
        <a class="item">{{ (fuel_fill_up.creator == null ? 'Created by you' : fuel_fill_up.creator) }}</a>
      </div>
    </div>
  </ion-content>
</ion-view>
