<ion-view title="Fuel Fill Ups" align-title="left" class="page">
  <ion-content overflow-scroll="true" padding="true">
    <div class="list animate-fade-slide-in-right animate-ripple">
      <div class="card">
        <div class="item item-body">
          <label class="item item-select">
            <span class="input-label">Vehicle</span>
            <select ng-model="selected_vehicle.license_plate_no" ng-change="loadFuelFillUps();">
              <option ng-repeat="vehicle in vehicles" value="{{ vehicle.license_plate_no }}">{{ vehicle.name }}</option>
            </select>
          </label>
        </div>
      </div>

      <span ng-show="selected_vehicle.license_plate_no != null">
        <span ng-hide="fuel_fill_ups.length != 0 || loading">
          <a class="item">
            <h3>There are no fuel fill ups assigned</h3>
          </a>
        </span>
        <span ng-repeat="fuel_fill_up in fuel_fill_ups" ng-hide="loading">
          <a ui-sref="menu.fuelFillUp({ license_plate_no : selected_vehicle.license_plate_no, fuel_fill_up_id : fuel_fill_up.id })" class="item item-avatar item-icon-right">
            <img src="img/fuel-fill-up-icon.png">
            <h2>{{ fuel_fill_up.timestamp | date }}</h2>
            <p>{{ fuel_fill_up.litres + " litres" }}<br>
            {{ fuel_fill_up.price + " rupees" }}<br>
            Created by : {{ fuel_fill_up.creator }}</p>
          </a>
        </span>
      </span>
    </div>
  </ion-content>
</ion-view>
