<ion-view view-title="Home" align-title="left">
  <link href="css/home.css" rel="stylesheet">
  <ion-content overflow-scroll="true">
    <div class="list animate-fade-slide-in-right animate-ripple">
      <a ui-sref="menu.addEditCheckIn({ mode : 'ADD' })" class="item item-bg-image">
        <img src="img/check-in-landscape-thumbnail.jpg">
        <h2>Add Check In</h2>
        <p>Tap to check in</p>
      </a>
      <a ui-sref="menu.addEditFuelFillUp({ mode : 'ADD' })" class="item item-bg-image">
        <img src="img/fuel-fill-up-landscape-thumbnail.jpg">
        <h2>Add Fuel Fill Up</h2>
        <p>Tap to add fill-up details</p>
      </a>
      <a ui-sref="menu.addEditMiscellaneousCost({ mode : 'ADD' })" class="item item-bg-image">
        <img src="img/misc-cost-landscape-thumbnail.jpg">
        <h2>Add Misc. Costs</h2>
        <p>Tap to add misc. cost</p>
      </a>
    </div>
  </ion-content>
</ion-view>
