<ion-view title="Home" class="page">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="list card">
            <div class="item item-body">
                <ion-list>
                    <ion-item class="item-thumbnail-left" ui-sref="menu.addCheckIn">
                        <img src="img/G0U1Q0bORk62ovlBHNbs_Location -02.png">
                        <h2>Check In</h2>
                        <p>Tap to check in</p>
                    </ion-item>
                    <ion-item class="item-thumbnail-left" ui-sref="menu.addFuelFillUp">
                        <img src="img/iEkBBmk8QGq8DsTOnyvX_Fuel.png">
                        <h2>Add Fill Up</h2>
                        <p>Tap to add fill-up details</p>
                    </ion-item>
                    <ion-item class="item-thumbnail-left" ui-sref="menu.addMiscellaneousCost">
                        <img src="img/i3vgUbonQ46W4GFoqZeW_Money-Credit-Card.png">
                        <h2>Add Misc. Costs</h2>
                        <p>Tap to add misc. cost</p>
                    </ion-item>
                </ion-list>
            </div>
        </div>
    </ion-content>
</ion-view>
