<ion-view title="Login" id="page4" style="background-color:#676869;">
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header">
        <form class="list">
            <ion-list>
                <label class="item item-input" name="username">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="Enter your username">
                </label>
                <label class="item item-input" name="password">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="Enter your password">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <a ui-sref="menu.home" id="login-button4" class="button button-balanced  button-block icon ion-log-in">Log in</a>
            <a ui-sref="menu.signUp" id="login-button5" class="button button-positive  button-block button-clear icon ">Or Create an Account</a>
            <a ui-sref="menu.home" id="login-button18" class="button button-positive  button-block button-clear icon ">Or work offline</a>
        </form>
    </ion-content>
</ion-view>