<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="side-menu21"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" id="side-menu21" style="background-color:#7D7D85;">
        <ion-header-bar class="bar-stable">
            <div class="title">Menu</div>
        </ion-header-bar>
        <ion-content padding="false" class="side-menu-left has-header">
            <ion-list>
                <ion-item ui-sref="menu.home" menu-close="">Home</ion-item>
                <ion-item ui-sref="menu.vehicles" menu-close="">Vehicles</ion-item>
                <ion-item ui-sref="menu.checkIns" menu-close="">Checkins</ion-item>
                <ion-item ui-sref="menu.fuelFillUps" menu-close="">Fill Ups</ion-item>
                <ion-item ui-sref="menu.miscellaneousCosts" menu-close="">Misc. Costs</ion-item>
                <ion-item ui-sref="menu.generateReport" menu-close="">Generate Report</ion-item>
                <ion-item ui-sref="menu.settings" menu-close="">Settings</ion-item>
                <ion-item ui-sref="login" menu-close="">Login</ion-item>
                <ion-item ng-click="logout()" menu-close="">Logout</ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
