<ion-view title="Miscellaneous Cost" class="page">
  <ion-content overflow-scroll="true" padding="true" class="has-header">
    <div class="list card">
      <div class="item item-divider">Type</div>
      <div class="item item-body">
        <a class="item">{{ misc_cost.type }}</a>
      </div>

      <div class="item item-divider">Price</div>
      <div class="item item-body">
        <a class="item">{{ misc_cost.value }} rupees</a>
      </div>

      <div class="item item-divider">Time</div>
      <div class="item item-body">
        <a class="item">{{ misc_cost.timestamp | date:'dd-MM-yyyy' }}</a>
        <a class="item">{{ misc_cost.timestamp | date:'HH:mm:ss' }}</a>
      </div>

      <div class="item item-divider">Vehicle</div>
      <div class="item item-body">
        <a class="item">{{ misc_cost.vehicle_name }}</a>
        <a class="item">{{ misc_cost.vehicle_license_plate_no }}</a>
      </div>

      <div class="item item-divider">Created By</div>
      <div class="item item-body">
        <a class="item">{{ (misc_cost.creator == null ? 'Created by you' : misc_cost.creator) }}</a>
      </div>
    </div>
  </ion-content>
</ion-view>
