<ion-view title="Sign Up" id="page5" style="background-color:#676869;">
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header">
        <form class="list">
            <ion-list>
                <label class="item item-input" name="first-name">
                    <span class="input-label">First Name</span>
                    <input type="text" placeholder="Enter your first name">
                </label>
                <label class="item item-input" name="last-name">
                    <span class="input-label">Last Name</span>
                    <input type="text" placeholder="Enter your last name">
                </label>
                <label class="item item-input" name="username">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="Enter a username">
                </label>
                <label class="item item-input" name="password">
                    <span class="input-label">Password</span>
                    <input type="text" placeholder="Enter a password">
                </label>
                <label class="item item-input" name="confirm-password">
                    <span class="input-label">Confirm Password</span>
                    <input type="text" placeholder="Re-enter the password">
                </label>
            </ion-list>
            <div class="spacer" style="width: 300px; height: 44px;"></div>
            <a ui-sref="menu.home" id="signUp-button6" class="button button-royal  button-block icon ion-android-checkmark-circle">Sign up</a>
            <a ui-sref="menu.login" id="signUp-button17" class="button button-positive  button-block button-clear">Or Log In</a>
        </form>
    </ion-content>
</ion-view>