<ion-view title="Vehicles" id="page9" style="background-color:#DFE2E7;">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <a ui-sref="menu.addVehicle" id="vehicles-button11" class="button button-calm  button-block icon ion-android-add-circle">Add Vehicle</a>
        <div class="list card">
            <div class="item item-divider">Vehicles Managed</div>
            <div class="item item-body">
                <ion-list>
                    <label class="item item-input" name="search">
                        <i class="icon ion-search placeholder-icon"></i>
                        <input type="search" placeholder="Enter vehicle name">
                    </label>
                    <ion-item class="item-thumbnail-left" ui-sref="menu.vehicle">
                        <img src="img/sdn8CfRR9eddJNSFlhnA_Car -01.png">
                        <h2>Vehicle Name</h2>
                        <p>Vehicle Model</p>
                    </ion-item>
                </ion-list>
            </div>
        </div>
    </ion-content>
</ion-view>