<ion-view title="Vehicle" id="page17" style="background-color:#DFE2E7;">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <a ui-sref="menu.addVehicle" id="vehicle-button15" class="button button-positive  button-block icon ion-edit">Edit</a>
        <button id="vehicle-button19" class="button button-assertive  button-block icon ion-android-cancel">Remove</button>
        <div class="list card">
            <div class="item item-body">
                <h1 id="vehicle-heading1" style="color:#000000;font-weight:400;">Name</h1>
                <h2 id="vehicle-heading2" style="color:#000000;">Make Model Year</h2>
                <h3 id="vehicle-heading3" style="color:#000000;">License Plate No</h3>
                <h4 id="vehicle-heading4" style="color:#000000;">Fuel Type</h4>
                <div id="vehicle-markdown1" style="color:#000000;text-align:justify;">
                    <p>Description</p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>