<ion-view view-title="Vehicle" align-title="left" class="page">
  <ion-content overflow-scroll="true" padding="true">
    <div class="list padding card" ng-hide="loading">
      <div class="item item-body">
        <h1 style="color:#000000; font-size: 2em; font-weight: 400;">{{ vehicle.name }}</h1>
        <h2 style="color:#000000; font-size: 1.3em;">{{ vehicle.make + ' ' + vehicle.model + ' ' + vehicle.year }}</h2>
      </div>

      <button ui-sref="menu.drivers({ mode : mode, license_plate_no : vehicle.license_plate_no })" class="button button-full button-bar-positive ink"><i class="icon ion-key"></i> Drivers</button>

      <div class="item item-divider">License Plate No</div>
      <div class="item item-body">
        <a class="item">{{ vehicle.license_plate_no }}</a>
      </div>

      <div class="item item-divider">Fuel Type</div>
      <div class="item item-body">
        <a class="item">{{ vehicle.fuel_one + (vehicle.fuel_two != null ? ' & ' + vehicle.fuel_two : '') }}</a>
      </div>

      <div class="item item-divider">Owner</div>
      <div class="item item-body">
        <a class="item">{{ (vehicle.owner == null ? 'Owned by you' : vehicle.owner) }}</a>
      </div>

      <div class="item item-divider">Description</div>
      <div class="item item-body">
        <a class="item"><p>{{ (vehicle.description != null ? vehicle.description : 'N/A') }}</p></a>
      </div>
    </div>
  </ion-content>
</ion-view>
