<ion-view view-title="Vehicles" align-title="left" class="page">
  <ion-content overflow-scroll="true" padding="true">
    <div class="list animate-fade-slide-in-right animate-ripple">
      <label class="item item-input" name="search">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Enter vehicle name" ng-model="search_key.name" ng-keyup="triggerAnimation();">
      </label>
      <span ng-hide="owned_vehicles.length != 0 && managed_vehicles.length != 0 || loading">
        <a class="item">
          <h3>You do not have any vehicles</h3>
        </a>
      </span>
      <span ng-repeat="vehicle in owned_vehicles | filter: search_key" ng-hide="loading">
        <a ui-sref="menu.vehicle({ mode : 'OWNED', license_plate_no : vehicle.license_plate_no })" class="item item-avatar item-icon-right">
          <img src="img/vehicle-icon.png">
          <h2>{{ vehicle.name }}</h2>
          <p>Type : {{ vehicle.make + ' ' + vehicle.model }}<br>
          Owned by you</p>
        </a>
      </span>
      <span ng-repeat="vehicle in managed_vehicles | filter: search_key" ng-hide="loading">
        <a ui-sref="menu.vehicle({ mode : 'MANAGED', license_plate_no : vehicle.license_plate_no })" class="item item-avatar item-icon-right">
          <img src="img/vehicle-icon.png">
          <h2>{{ vehicle.name }}</h2>
          <p>Type : {{ vehicle.make + ' ' + vehicle.model }}<br>
          Owner : {{ vehicle.owner }}</p>
        </a>
      </span>
    </div>
  </ion-content>
</ion-view>
